
    <div class= "col-md-12">
        <div class="text-alight">
            <h3> Sign-Up</h3>
            <hr />
            <br/>
        
                @Html.ActionLink("Register New Client", "RegisterClient", "Registration")

                <br/><br />
    
                @Html.ActionLink("Register New Attendee", "RegisterAttendee", "Registration")

      </div>
    </div>
<br/>